<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IcarusWallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IcarusWallpaper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <IcarusWallpaper.Properties.Settings>
            <setting name="FetchInterval" serializeAs="String">
                <value>06:00:00</value>
            </setting>
            <setting name="WallpaperSetInterval" serializeAs="String">
                <value>01:00:00</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FetchAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FetchSource" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="WallpaperMainSwitch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RandomWallpaper" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterAspectRatio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AspectRatioLimit" serializeAs="String">
                <value>1</value>
            </setting>
        </IcarusWallpaper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <IcarusWallpaper.Properties.Settings>
            <setting name="IcarusBase" serializeAs="String">
                <value>http://icarus.silversky.moe:666</value>
            </setting>
        </IcarusWallpaper.Properties.Settings>
    </applicationSettings>
</configuration>
